@import url("https://fonts.googleapis.com/css2?family=Damion&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@100..900&display=swap");
:root {
  --f_damion: "Damion", cursive;
  --f_libre_b: "Libre Baskerville", serif;
  --f_monts: "Montserrat", sans-serif;
  --c_oro: #ebcf76;
  --c_gris_oscuro: #4b4b4b;
  /* --c_oro: #e4cd80; */
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  text-align: center;
  background-color: #000000;
}
main {
  max-width: 350px;
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--c_oro); /* Dorado oscuro */
  padding: 1rem;
}

.titulo {
  padding-top: 1rem;
  color: #fff;
  font-family: var(--f_monts);
  font-size: 0.8rem;
}
.logo {
  font-family: var(--f_monts);
  font-size: 1em;
}
.subtitulo {
  font-family: var(--f_libre_b);
  font-size: 1.5rem;
}

.imagen{
  background-image: url("logo_fya431.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}

img {
  padding: 0.5rem;
}
.datos {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  font-size: .8rem;
}

.fecha,
.hora,
.lugar {
  font-family: var(--f_libre_b);
  color: #fff;
  align-content: center;
}
.fecha,
.hora {
  font-size: 1.3rem;
  font-weight: 500;
}
.lugar{
    padding: 1rem;    
}


.fecha_sub,
.hora_sub {
  font-size: 0.8rem;
}
.lugar_enlace {
    margin-top: 0.5rem;
  color: #fff;
  font-size: 1rem;
  align-content: center;
  justify-content: center;
}
.lugar_enlace img{
    margin-top: 0.5rem;
    padding: 0;
}
.falta{
  margin: 0;
}

#countdown {
  padding-top: 0;
  font-size: 1.3rem;
  font-weight: 600;
}

footer {
  padding-bottom: 1rem;
  font-size: 0.7rem;
  color: var(--c_gris_oscuro);
}
.firma {
  font-family: var(--f_damion);
  font-size: 1rem;
  color: var(--c_gris_oscuro);
}
.firma:hover {
  color: var(--c_oro);
}

@media (min-width: 678px) {
  main {
    min-width: 480px;
  }
  .titulo {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
  }
  .logo {
    font-size: 1.5em;
  }
  .subtitulo {
    padding: 1rem;
    font-size: 2rem;
  }
  .imagen{
    background-size: 120px;
  }
  img {
    padding: 1rem;
  }
  .datos {
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
  }
  .fecha,
  .hora {
    font-size: 2rem;
    font-weight: 600;
  }
  .lugar_enlace {
    font-size: 1.3rem;
  }
  #countdown {
    font-size: 1.6rem;
  }
  footer {
    padding-top: 0;
    font-size: 1rem;
  }
}
