@import url("https://fonts.googleapis.com/css2?family=Damion&family=Edu+AU+VIC+WA+NT+Hand&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@100..900&display=swap");
:root {
  --f_damion: "Damion", cursive;
  --f_libre_b: "Libre Baskerville", serif;
  --f_monts: "Montserrat", sans-serif;
  --f_edu: "Edu AU VIC WA NT Hand", cursive;
  --c_oro: #f1d987;
  --c_gris_oscuro: #4b4b4b;
  --grad_oro: linear-gradient(
    to right,
    #a6762e 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #a6762e 100%
  );
  /* --c_oro: #e4cd80; */
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  text-align: center;
  background-color: #101010;  
}

.bg-salon{
  background-image: radial-gradient(circle at center,transparent, rgba(0, 0, 0, 1)), url('salon-eventos.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: .9;
}

main {
  max-width: 350px;
  background-image: url("back2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--c_oro); /* Dorado oscuro */
  padding: 1rem;
  padding: 0 30px;
  border-radius: 10px;
}

.titulo {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  color: #9c9c9c;
  font-family: var(--f_monts);
  font-size: 0.7rem;
}
.logo {
  font-family: var(--f_edu);
  color: #fff;
  font-size: 0.7rem;
}
.subtitulo {
  font-family: var(--f_libre_b);
  font-size: 2rem;
  font-weight: bold;
  margin: 1.2rem;
  background-image: var(--grad_oro);
  color: transparent;
  -webkit-background-clip: text;
}

.imagen {
  background-image: url("logo_fya431.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}

.copa {
  padding: 1.5rem;
  width: 50px;
  height: 50px;
}
.datos {
  padding: 0.8rem;
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.fecha,
.hora,
.lugar {
  font-family: var(--f_monts);
  color: #fff;
  align-content: center;
}
.fecha,
.hora {
  font-size: 1.4rem;
  font-weight: 500;
}
.lugar {
  padding: 0.5rem;
}

.fecha_sub,
.hora_sub {
  font-size: 0.8rem;
}
.lugar_enlace {
  color: #fff;
  font-size: 1rem;
  align-content: center;
  justify-content: center;
  font-family: var(--f_edu);
}
.lugar_enlace img {
  margin-top: 0.5rem;
  padding: 0;
}
.falta {
  margin: 0;
  text-shadow: 2px 2px 4px rgba(202, 149, 108, 0.4);
}

#countdown {
  padding-top: 0;
  font-size: 1.3rem;
  font-weight: 600;
  background-image: var(--grad_oro);
  color: transparent;
  -webkit-background-clip: text;
}

footer {
  padding-bottom: 1rem;
  font-size: 0.6rem;
  color: var(--c_gris_oscuro);
}
.firma {
  font-family: var(--f_damion);
  color: var(--c_gris_oscuro);
}
.firma:hover {
  color: var(--c_oro);
}

@media (min-width: 678px) {
  main {
    min-width: 480px;
    border-top: 15px solid black;
    border-bottom: 15px solid black;
  }
  .titulo {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
  }
  .logo {
    font-size: 1.2em;
  }
  .subtitulo {
    font-size: 2.5rem;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .imagen {
    padding: 0.5rem;
    background-size: 120px;
  }
  img {
    padding: 1rem;
  }
  .datos {
    padding: 1.5rem 4rem;
    font-size: 1.2rem;
  }
  .fecha,
  .hora {
    font-size: 2rem;
    font-weight: 600;
  }
  .fecha_sub,
  .hora_sub {
    font-size: 1rem;
  }
  .lugar_enlace {
    font-size: 1.3rem;
  }
  .falta {
    padding: 0.8rem;
    font-size: 1.5rem;
  }
  #countdown {
    font-size: 2rem;
  }
  footer {
    padding-top: 0;
    font-size: 1rem;
  }
}
